<!DOCTYPE html>
<html>
<body>
<h1>Jimmy Jazz Bot!</h1>
<form action="/add_task" method="POST">
Email: <input type="text" name="Email"><br>
First name: <input type="text" name="FirstName"><br>
Last name: <input type="text" name="LastName"><br>
Address: <input type="text" name="Address"><br>
Zip Code: <input type="text" name="ZipCode"><br>
Phone Number: <input type="text" name="PhoneNumber"><br>
shipping_city: <input type="text" name="shipping_city"><br>
State: <input type="text" name="State"><br>
CC #: <input type="text" name="CC#"><br>
CC MM: <input type="text" name="CC_MM"><br>
CC_YY: <input type="text" name="CC_YY"><br>
CC CVV: <input type="text" name="CC_CVV"><br>
Item PID: <input type="text" name="PID"><br>
<input type="submit" value="Submit">
</form>